/* Colors */

$color-yellow: #f4d04e;

$color-gray-950: #111111;
$color-gray-500: #6b6b6b;

$color-white: #ffffff;

/* Spacing */

$spacing-200: 16px;
$spacing-150: 12px;
$spacing-100: 8px;
$spacing-50: 4px;
